dist: xenial 

language: c

compiler: gcc

before_install:
    - sudo add-apt-repository --yes ppa:vala-team
    - sudo apt-get update --quiet
    - sudo apt-get install --yes --force-yes valac libglib2.0-bin libglib2.0-dev libgtk-3-dev libgee-0.8-dev 

script:
    - cd tests
    - make 
